body,html{
    height:100%;
    width:100%;
    padding:0;
    margin:0;

    background-image: url("../images/kena.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:black;
}
h1{
    margin:0;
    text-align: center;
}
/* li span{
    position: relative;
    left:-25px;
} */
#aninabout{
    text-align: center;
    font-size:32px;
}
#aninaboutl{
    align-self: center;
    text-align: left;
    font-size:32px;
    width: 50%;
    height:fit-content;
    margin:auto
}
#aninaboutr{
    align-self: center;
    text-align: left;
    font-size:32px;
    width: 50%;
    height:fit-content;
    margin: auto;
}
.aninaw{
    text-align: center;
    width:50%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
#jens,#ron,#kelsey,#jovey,#maamresty{
    height:55%;
    width:100%;
    margin:auto;
    background-color:rgba(150,150,150,0.5);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#jens{
    background-image: url("../images/tree.jpg");
}
#ron{
    background-image: url("../images/mountains.jpg");
}
#kelsey{
    background-image: url("../images/tree.jpg");
}
#jovey{
    background-image: url("../images/mountains.jpg");
}
#maamresty{
    background-image: url("../images/tree.jpg");
}
.parallax{
    background-image: url("../images/kena.jpg");
    height:100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.ppicl{
    margin:auto;
    height:80%;
    width:auto;
    float: left;
}
.ppicr{
    margin:auto;
    height:80%;
    width:auto;
    float:right;
}
footer{
    background-color: antiquewhite;
    padding:0;
    margin:0;
    width:100%;
    border-top:1px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-style: solid;
}
.tribimg{
    height:100px;
    width:100px;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
  }
  .tribimg2{
    height:100px;
    width:100px;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
  }