body{
  background-color:rgba(246, 240, 233, 1);
  background-size:cover;
  background-position:top;
  background-attachment:fixed;
  overflow-x:hidden;
}
/*html, body {
    width:100%;
    height: 100%;
  }*/
  
  /*body{
  background-image: url("/static/images/BrownPaper.webp");
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  }*/

div{
  color:black;
}
.btn-group{
  margin-left:2em;
  margin-bottom:1em;

}
.btndes{
  background-color: white;
  transition-duration: 0.2s;
}
.btn-check:checked{
  background-color: #79480f;
}
.btndes:hover{
  background-color: #9c5d15;
}
.btndes:checked{
  background-color: #79480f;
}
.btn:focus, .btn-outline-dark:active, .btn-outline-dark.active, .btn-outline-dark.dropdown-toggle.show, .btn-outline-dark:active, .btn-check:checked+.btn-outline-dark{
  background-color: #79480f;
}
#barchart{
  margin-right:5em;
}
#selectcat{
  font-weight: 500;
  letter-spacing: 5px;
  font-size:18px;
}
#btmcharts{
  border-radius: 5px;
  /*argin:3em;*/
  margin-left: 3em;
  margin-right:3em;
  margin-bottom: 3em;
  margin-top:0em;
  padding:3em;
  background-color:rgba(229, 236, 246, 0.5);
}
.cb{
  height:75%;
}
#btnsubmit{
  font-weight: 500;
  letter-spacing: 5px;
  border-style:none;
  padding-top: 10px;
  padding-bottom:10px;
  background-color: #79480f;
  color:white;
  border-radius: 5px;
  width:100%;
  transition-duration: 0.2s;
}
#btnsubmit:disabled{
  opacity: 0.2;
}
#btnsubmit:hover{
  background-color: #9c5d15;
}
form{
  margin-left: 5em;
  margin-right:2em;
  vertical-align:top;
}
.container-fluid{
  width:100%;
  padding-bottom:10px;
  padding-top:10px;
  background-color:rgba(246, 240, 233, 1);
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom:0px;
  border-style: solid;
  box-shadow: 0px 15px 10px rgb(207, 201, 191);
}
.navbar{
  padding:0;
  z-index: 9999;
  width:100%;
  position: -webkit-sticky;
  position:sticky;
  top:0;
}
.btn{
  color:black;
}
.row{
  background-color:rgba(246, 240, 233, 1);
}
ul{
  font-size: 16px;
}
.c1insight{
  text-align: center;
  padding:0;
}
.container div{
  display:-ms-inline-grid;
}
/*FOOTER CSS*/
.footer-copyright{
  background-color: rgba(246, 240, 233, 1);;
}
.tribimg{
  height:100px;
  width:100px;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}
.tribimg2{
  height:100px;
  width:100px;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}
.about{
  width: 25%;
}
/*FOOTER CSS_____END*/

.jtip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.jtip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;

  opacity: 0;
  transition: opacity 0.5s;
}

.jtip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
.jtip:hover{
  cursor:help;
}
.jtip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.all{
  padding:3em;
  width:100%;
  margin:auto;
  margin-top:1px;
  display:-ms-inline-grid;
  }
#overview{
  width:40%;
  margin:auto;
}
#lcl{
  width:35%;
  margin:auto;
}
.extchart{
  width:100%;
}
#chart1{
  margin-bottom:2em;
}
.ext3, .ext4{
  width:inherit;
}
#overview2{
  width:100%;
}
.conapps{
  width:100%;
  margin:auto;
  display:-ms-inline-grid;
}
footer{
  padding:0;
  margin:0;
  width:100%;
  border-top:1px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  border-style: solid;
}