html, body {
    width:100%;
    height: 100%;
  }
  
  body{
  background-image: url("/static/images/Law.webp");
  background-color:  #fafafa;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  }
div{
  color:black;
}
.jtip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.jtip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;

  opacity: 0;
  transition: opacity 0.5s;
}

.jtip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
.jtip:hover{
  cursor:help;
}
.jtip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}