<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ url_for('static', filename='/images/aninaw-tech-logo-brown.png') }}" type="image/x-icon">
    <title>About Aninaw-Tech</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/about.css') }}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
        <div class="container-fluid stickynav">

            <a class="navbar-brand " href="/"> <img
                    src="{{ url_for('static', filename='/images/aninaw-tech-logo-black.png') }}" class="rounded"
                    alt="about width=40" height="40" style="float:left">
                <h6 style="float:right; color:black;">Using K-Nearest Neighbor Regression <br>Machine Learning Algorithm
                </h6>
            </a>
            <div class="mr-auto">
                <a href="/datavisdefault" type="button" class="btn btn-outline-dark" style="margin:5px;">
                    DATA VISUALIZATION</a>
                <a href="/forecast" type="button" class="btn btn-outline-dark" style="margin:5px;">
                    FORECASTING</a>
                <a href="/about" type="button" class="btn btn-outline-dark" style="margin:5px;">
                    ABOUT</a>
            </div>

        </div>
    </nav>
    <div class="parallax">
        <div class="aninaw">
            <h1 data-aos="fade-up" style="color:black;">ANINAW-TECH</h1><br>
            <p id="aninabout" data-aos="fade-up">
                Aninaw-Tech is a web-based application with the purpose to help the general Filipino public understand
                the Appropriations of the Local Government Units.<br>

                Aninaw-Tech is the project output of the research done by the <a href="#containerprofs">students</a> of FEU - Alabang.<br><br>
                -Developers
            </p>
        </div>
    </div>
    <div class="containerprofs" id = "containerprofs">
        <div class="aboutsection" id="jens" data-aos="fade-up">
            <img class="ppicl" src="../static/images/jens.png">
            <div id="aninaboutl">
                <h1>Jens Gabriel Jovellano</h1><br>
                Role: Project Manager<br>
                Course: Bachelor of Science in Computer Science<br> Specializing in Software Engineering<br><br>
                Certifications:<br> MTA: Introduction to Programming Using Java - 2019<br>
                MTA: Introduction to Programming Using Python - 2021
            </div>
        </div>
        <div class="aboutsection" id="ron" data-aos="fade-up">
            <img class="ppicr" src="../static/images/ron.png">
            <div id="aninaboutr">
                <h1>Ron Lara</h1><br>
                Role: Lead Programmer<br>
                Course: Bachelor of Science in Computer Science<br> Specializing in Software Engineering<br><br>
                Certifications:<br> MTA: Introduction to Programming Using Java - 2019<br>
                MTA: Introduction to Programming Using Python - 2021
            </div>
        </div>
        <div class="aboutsection" id="kelsey" data-aos="fade-up">
            <img class="ppicl" src="../static/images/kelsey.png">
            <div id="aninaboutl">
                <h1>Kelsey Lantano</h1><br>
                Role: Lead Designer<br>
                Course: Bachelor of Science in Computer Science<br> Specializing in Software Engineering<br><br>
                Certifications:<br> MTA: Introduction to Programming Using Java - 2019<br>
                MTA: Introduction to Programming Using Python - 2021
            </div>
        </div>
        <div class="aboutsection" id="jovey" data-aos="fade-up">
            <img class="ppicr" src="../static/images/jovey.png">
            <div id="aninaboutr">
                <h1>Jovey Ann Erepol</h1><br>
                Role: Lead Researcher<br>
                Course: Bachelor of Science in Information Technology<br> Specializing in Service Management Business Analytics<br><br>
                Certifications<br> 
                MTA: Database Administrator Fundamentals - 2020
            </div>
        </div>
        <div class="aboutsection" id="maamresty" data-aos="fade-up">
            <img class="ppicl mamrestybtm" src="../static/images/mamresty.png">
            <div id="aninaboutl">
                <h1><i>In loving memory...</i></h1><br>
                <h1>Ma'am Resty Aldana</h1><br>
                Role: Project Mentor<br>
            </div>
        </div>
        <div class = "aboutsection"></div>
    </div>
    <!-- Footer -->
    <footer class="page-footer font-small mdb-color lighten-3 pt-4" data-aos="fade-right">
        <div class="container text-center text-md-left">
            <div class="row">
                <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
                    <h5 class="font-weight-bold text-uppercase mb-4"></h5>
                    <p><img src="{{ url_for('static', filename='/images/aninaw-tech-logo-brown.png') }}"
                            class="tribimg"></p>
                </div>
                <hr class="clearfix w-100 d-md-none">
                <div class=" about col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">
                    <h5 class="font-weight-bold text-uppercase mb-4">About</h5>
                    <p>Aninaw-tech is a web application developed by the students of Far Eastern University - Alabang
                        for their
                        Thesis project.</p>
                </div>
                <hr class="clearfix w-100 d-md-none">
                <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
                    <h5 class="font-weight-bold text-uppercase mb-4">CONTACT US:</h5>
                    <ul class="list-unstyled">
                        <li>
                            <i class="fas fa-home mr-3">jensjovellano@gmail.com</i>
                        </li>
                        <li>
                            <i class="fas fa-envelope mr-3">lararon2428@gmail.com</i>
                        </li>
                        <li>
                            <i class="fas fa-phone mr-3">joanerepol1@gmail.com</i>
                        </li>
                        <li>
                            <i class="fas fa-print mr-3">kelseyrlantano@gmail.com</i>
                        </li>
                    </ul>
                </div>
                <hr class="clearfix w-100 d-md-none">
                <div class="col-md-2 col-lg-2 text-center mx-auto my-4">
                    <h5 class="font-weight-bold text-uppercase mb-4"></h5>
                    <img src="{{ url_for('static', filename='/images/tribunal2.png') }}" class="tribimg2">
                </div>
            </div>
        </div>
        <div class="footer-copyright text-center py-3" style="background-color: rgba(246, 240, 233, 1);">© 2021 Copyright:
            <a href="https://aninaw-tech.herokuapp.com/"> Aninaw-tech - Tribunal</a>
        </div>
    </footer>
    <!-- Footer -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>