<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Aninaw-Tech</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/about.css">
</head>

<body>
    <div class="parallax">
        <div class="aninaw">
            <h1>ANINAW</h1>
            <p id="aninabout">
                Aninaw-Tech is a web-based application with the purpose to help the general Filipino public understand
                the Appropriations of the Local Government Units.<br>

                Aninaw-Tech is the project output of the research done by the students of FEU - Alabang.
            </p>
        </div>
    </div>
    <div class="containerprofs">
        <div class="aboutsection" id="jens">
            <h1>Jens Gabriel Jovellano</h1>
            <img class="ppicl" src="../static/images/amogus.png">
            <div id="aninaboutl">
                <li>Role: Project Manager</li>
                <li>Course: Bachelor of Science in Computer Science specializing in Software Engineering</li>
            </div>
        </div>
        <div class="aboutsection" id="ron">
            <h1>Ron Lara</h1>
            <img class="ppicr" src="../static/images/amogus.png">
            <div id="aninaboutr">
                <li>Role: Lead Programmer</li>
                <li>Course: Bachelor of Science in Computer Science specializing in Software Engineering</li>
            </div>
        </div>
        <div class="aboutsection" id="kelsey">
            <h1>Kelsey Lantano</h1>
            <img class="ppicl" src="../static/images/amogus.png">
            <div id="aninaboutl">
                <li>Role: Lead Designer</li>
                <li>Course: Bachelor of Science in Computer Science specializing in Software Engineering</li>
            </div>
        </div>
        <div class="aboutsection" id="jovey">
            <h1>Jovey Ann Erepol</h1>
            <img class="ppicr" src="../static/images/amogus.png">
            <div id="aninaboutr">
                <li>Role: Lead Researcher</li>
                <li>Course: Bachelor of Science in Information Technology with specialization in Service Management Business Analytics</li>
            </div>
        </div>
        <div class="aboutsection" id="maamresty">
            <h1>Ma'am Resty Aldana</h1>
            <img class="ppicl" src="../static/images/amogus.png">
            <div id="aninaboutl">
                laksd njl;ankldb nahjklsnbdhjklbn ahjklsbdhklabn skldhjbnaskjdbn
                ajkl;snd;lajwndajkl;sndjklawndja;sdn;ajlwnd;jawln
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="page-footer font-small mdb-color lighten-3 pt-4">
        <div class="container text-center text-md-left">
            <div class="row">
                <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
                    <h5 class="font-weight-bold text-uppercase mb-4"></h5>
                    <p><img src="{{ url_for('static', filename='/images/aninaw-tech-logo-brown.png') }}"
                            class="tribimg"></p>
                </div>
                <hr class="clearfix w-100 d-md-none">
                <div class=" about col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">
                    <h5 class="font-weight-bold text-uppercase mb-4">About</h5>
                    <p>Aninaw-tech is a web application developed by the students of Far Eastern University - Alabang
                        for their
                        Thesis project.</p>
                </div>
                <hr class="clearfix w-100 d-md-none">
                <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
                    <h5 class="font-weight-bold text-uppercase mb-4">CONTACT US:</h5>
                    <ul class="list-unstyled">
                        <li>
                            <i class="fas fa-home mr-3">jensjovellano@gmail.com</i>
                        </li>
                        <li>
                            <i class="fas fa-envelope mr-3">lararon2428@gmail.com</i>
                        </li>
                        <li>
                            <i class="fas fa-phone mr-3">joanerepol1@gmail.com</i>
                        </li>
                        <li>
                            <i class="fas fa-print mr-3">kelseyrlantano@gmail.com</i>
                        </li>
                    </ul>
                </div>
                <hr class="clearfix w-100 d-md-none">
                <div class="col-md-2 col-lg-2 text-center mx-auto my-4">
                    <h5 class="font-weight-bold text-uppercase mb-4"></h5>
                    <img src="{{ url_for('static', filename='/images/tribunal2.png') }}" class="tribimg2">
                </div>
            </div>
        </div>
        <div class="footer-copyright text-center py-3">© 2021 Copyright:
            <a href="https://aninaw-tech.herokuapp.com/"> Aninaw-tech - Tribunal</a>
        </div>
    </footer>
    <!-- Footer -->
</body>

</html>