<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/forecasting.css') }}">
    <title>Document</title>
</head>

<body>
    <div class="p-3 mb-2 text-white">
        <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
            <div class="container-fluid">

                <a class="navbar-brand " href="index.html"> <img
                        src="{{ url_for('static', filename='/images/aninaw-tech-logo-white.png') }}" class="rounded"
                        alt="about width=40" height="40" style="float:left">
                    <h6 style="float:right">Using K-Nearest Neighbor Regression <br>Machine Learning Algorithm</h6>
                </a>
                <div class="mr-auto">
                    <a href="/test" type="button" class="btn btn-outline-light" style="margin:5px;">
                        DATA VISUALIZATION</a>
                    <a href="/forecast" type="button" class="btn btn-outline-light" style="margin:5px;">
                        FORECASTING</a>
                    <a href="about.html" type="button" class="btn btn-outline-light" style="margin:5px;">
                        ABOUT</a>
                </div>

            </div>
        </nav>
        <br><br><br><br>
        <div class="container">
            <h2>Predicted Output: {{output}}</h2>
            <div class="row-4 p-4">
                <div class="col-10">
                    <div class="card mx-10">
                        <div class="card-body">
                            <div id="chart1">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h3>RMSE check(for optimal K-Neighbors)</h3>
            <h4> - train test 80:20</h4>
            <div class="row-4 p-4">
                <div class="col-10">
                    <div class="card mx-10">
                        <div class="card-body">
                            <div id="chart3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h3>Neighbors: {{n}}</h3>
            <h4> - all accumulated neighbors {{neighbors}}</h4>
            <div class="row-4 p-4">
                <div class="col-10">
                    <div class="card mx-10">
                        <div class="card-body">
                            <div id="chart2">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        var graph1 = {{ graph1JSON | safe}};
        Plotly.plot("chart1", graph1, {})
        var graph2 = {{ graph2JSON | safe}};
        Plotly.plot("chart2", graph2, {})
        var graph3 = {{ graph3JSON | safe}};
        Plotly.plot("chart3", graph3, {})
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
</body>

</html>