<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/forecasting.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='/images/aninaw-tech-logo-brown.png') }}" type="image/x-icon">
    <title> Forecasting</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
        <div class="container-fluid stickynav">

            <a class="navbar-brand " href="/"> <img
                    src="{{ url_for('static', filename='/images/aninaw-tech-logo-black.png') }}" class="rounded"
                    alt="about width=40" height="40" style="float:left">
                <h6 style="float:right; color:black;">Using K-Nearest Neighbor Regression <br>Machine Learning Algorithm
                </h6>
            </a>
            <div class="mr-auto">
                <a href="/datavisdefault" type="button" class="btn btn-outline-dark" style="margin:5px;">
                    DATA VISUALIZATION</a>
                <a href="/forecast" type="button" class="btn btn-outline-dark" style="margin:5px;">
                    FORECASTING</a>
                <a href="/about" type="button" class="btn btn-outline-dark" style="margin:5px;">
                    ABOUT</a>
            </div>

        </div>
    </nav>
    <br><br><br>
    <div class="row align-items-end">
        <form action="#" method="POST" id="forecastform">
            <div class="row">
                <div class="col-4" data-aos="fade-up">
                    <h5 id="selectcat">FORECASTING</h5><br /><br />
                    <h5 id="selectcat">ENTER LOCATION: </h5><br />
                    <select class="form-select mb-3" name="reg_select" id='idReg' required>
                        <option value="default" selected disabled>REGION</option>
                        {%for i in range(region['value']|length)%}
                        <option value="{{region['value'][i]}}">{{region['label'][i]}}</option>
                        {%endfor%}
                    </select>
                    <select class="form-select mb-3" name="cit_select" id="city" required>
                        <option value="default" selected disabled>CITIES</option>
                    </select>
                    <br>
                    <h5 id="selectcat">SELECT CATEGORY TO FORECAST: </h5><br />
                    <div class="row">
                        <div class="col-5">
                            <select class="form-select mb-3" name="forec_select" id="forec" required>
                                <option value="Appropriations" selected>Appropriations</option>
                                <option value="Revenues">Revenues</option>
                            </select>
                        </div>
                        <div class="col-1">
                            <div class="spinner-border text-primary text-dark" id="spin1" style="display:none"
                                role=" status">
                            </div>
                        </div>
                        <div class="col-6">
                            <select class="form-select mb-3" name="forectype_select" id="forect" required>
                                <option value="Total Appropriations" selected>Total Appropriations</option>
                            </select>

                        </div>
                    </div>
                    <br>
                    <h5 id="selectcat">INPUT DATA TO PREDICT: </h5><br />

                    <div class="row">
                        <div class="col-5">
                            <select class="form-select mb-3" name="inp_select" id="inp" required>
                                <option value="Revenues" selected>Revenues</option>
                                <option value="Appropriations">Appropriations</option>
                            </select>
                        </div>
                        <div class="col-1">
                            <div class="spinner-border text-primary text-dark" id="spin2" style="display:none"
                                role=" status">
                            </div>
                        </div>
                        <div class="col-6">
                            <select class="form-select mb-3" name="inptype_select" id="inpt" required>
                                <option value="Total Revenues" selected>Total Revenues</option>
                            </select>
                        </div>
                    </div>
                    <input name="inp1" type="number" class="form-control mb-3" id="inputtext" step="0.01">
                    <div class="row">
                        <div class="col-5">
                            <button type="submit" id="spinbtn1" disabled>
                                FORECAST</button>
                        </div>
                        <div class="col-1"></div>
                        <div class="col-6">
                            <button onclick="viewRef()" type="button" id="spinbtn2" disabled>
                                VIEW REFERENCE</button>
                        </div>
                    </div>
                </div>
                <div class="col-7 refdiv" data-aos="fade-left">
                    <h5 id="selectcat" style="color:rgba(246, 240, 233, 1);">&nbsp;</h5>
                    <br><br>
                    <h5 id="selectcat">REFERENCE: </h5><br />
                    <div class="card mx-10">
                        <div class="card-body">
                            <div id="chart1">
                            </div>
                        </div>
                    </div>
                    <p id = "disclaimer">Disclaimer: The algorithm used to forecast relies on the similarities of the previous years to come up with the output.<br/>
                    The output can then be used as basis on what to expect for the indicated forecast year.</p>
                </div>
            </div>


        </form>
    </div>
    <br><br><br>
    <!-- Footer -->
    <footer class="page-footer font-small mdb-color lighten-3 pt-4" data-aos="fade-right">
        <div class="container text-center text-md-left">
            <div class="row">
                <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
                    <h5 class="font-weight-bold text-uppercase mb-4"></h5>
                    <p><img src="{{ url_for('static', filename='/images/aninaw-tech-logo-brown.png') }}"
                            class="tribimg"></p>
                </div>
                <hr class="clearfix w-100 d-md-none">
                <div class=" about col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">
                    <h5 class="font-weight-bold text-uppercase mb-4">About</h5>
                    <p>Aninaw-tech is a web application developed by the students of Far Eastern University - Alabang
                        for their
                        Thesis project.</p>
                </div>
                <hr class="clearfix w-100 d-md-none">
                <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
                    <h5 class="font-weight-bold text-uppercase mb-4">CONTACT US:</h5>
                    <ul class="list-unstyled">
                        <li>
                            <i class="fas fa-home mr-3">jensjovellano@gmail.com</i>
                        </li>
                        <li>
                            <i class="fas fa-envelope mr-3">lararon2428@gmail.com</i>
                        </li>
                        <li>
                            <i class="fas fa-phone mr-3">joanerepol1@gmail.com</i>
                        </li>
                        <li>
                            <i class="fas fa-print mr-3">kelseyrlantano@gmail.com</i>
                        </li>
                    </ul>
                </div>
                <hr class="clearfix w-100 d-md-none">
                <div class="col-md-2 col-lg-2 text-center mx-auto my-4">
                    <h5 class="font-weight-bold text-uppercase mb-4"></h5>
                    <img src="{{ url_for('static', filename='/images/tribunal2.png') }}" class="tribimg2">
                </div>
            </div>
        </div>
        <div class="footer-copyright text-center py-3" style="background-color: rgba(246, 240, 233, 1);">© 2021 Copyright:
            <a href="https://aninaw-tech.herokuapp.com/"> Aninaw-tech - Tribunal</a>
        </div>
    </footer>

    <!-- Footer -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        forec_select = document.getElementById('forec');
        inp_select = document.getElementById('inp');
        forect_select = document.getElementById('forect');
        inpt_select = document.getElementById('inpt');
        reg_select = document.getElementById('idReg');
        city_select = document.getElementById('city');
        forec_select.onchange = function () {
            forec_inpcheck(forec_select, inp_select);
            get_datatype();

        }
        inp_select.onchange = function () {
            forec_inpcheck(inp_select, forec_select);
            get_datatype();
        }
        reg_select.onchange = function () {
            get_city();
        }
        city_select.onchange = function () {
            get_datatype();
        }

        function get_datatype_fetch(f, i, ft, it, c, r, foreh, inph) {
            showload();
            fetch('gettype/' + i + '/' + c + '/' + r).then(function (response) {
                response.json().then(function (data) {
                    for (let i = 0; i < data.forecastl.length; i++) {
                        foreh += '<option value="' + data.forecastv[i] + '">' + data.forecastl[i] + '</option>'
                    }
                    for (let i = 0; i < data.inputl.length; i++) {
                        inph += '<option value="' + data.inputv[i] + '">' + data.inputl[i] + '</option>'
                    }
                    forect_select.innerHTML = foreh;
                    inpt_select.innerHTML = inph;
                    hideload();
                });
            });
        }

        function get_datatype() {

            f = forec_select.value;
            i = inp_select.value;
            ft = forect_select.value;
            it = inpt_select.value;
            c = city_select.value;
            r = reg_select.value;
            if (f === "Appropriations") {
                h1 = '<option value="Total Appropriations" selected>Total Appropriations</option>';
                h2 = '<option value="Total Revenues">Total Revenues</option>';
                get_datatype_fetch(f, i, ft, it, c, r, h1, h2)
            }

            else if (f === "Revenues") {
                h1 = '<option value="Total Revenues" selected>Total Revenues</option>';
                h2 = '<option value="Total Appropriations">Total Appropriations</option>';
                get_datatype_fetch(f, i, ft, it, c, r, h1, h2)
            }

        }

        function forec_inpcheck(select, selectinnerht) {
            val = select.value;
            if (val === "Appropriations") {
                optionHTML = '<option value="Revenues" selected>Revenues</option><option value="Appropriations">Appropriations</option>';
                selectinnerht.innerHTML = optionHTML;
            }
            else if (val === "Revenues") {
                optionHTML = '<option value="Appropriations" selected>Appropriations</option><option value="Revenues">Revenues</option>';
                selectinnerht.innerHTML = optionHTML;
            }
        }

        function viewRef() {
            Plotly.purge('chart1');
            r = reg_select.value;
            c = city_select.value;
            f = forect_select.value;
            i = inpt_select.value;
            fetch('viewref/' + r + '/' + c + '/' + i).then(function (response) {
                response.json().then(function (data) {
                    object = JSON.parse(data);
                    console.log(object)
                    Plotly.plot("chart1", object, {})
                });
            });
        }

        function get_city() {
            reg = reg_select.value;
            pg = "forecast"
            yr = "2016";
            dt = "Revenue";
            fetch('city/' + reg + '/' + yr + '/' + dt + '/' + pg).then(function (response) {
                response.json().then(function (data) {
                    optionHTML = '<option value="default" selected disabled>CITIES</option>';
                    data.city.forEach(function (item) {
                        optionHTML += '<option value="' + item + '">' + item + '</option>'
                    });
                    city_select.innerHTML = optionHTML;
                });
            });
        }
        function showload() {
            document.getElementById('spin1').style.display = "inline-block";
            document.getElementById('spin2').style.display = "inline-block";
            document.getElementById("spinbtn1").disabled = true;
            document.getElementById("spinbtn2").disabled = true;
        }
        function hideload() {
            document.getElementById('spin1').style.display = "none";
            document.getElementById('spin2').style.display = "none";
            if (inputtext.value != "") {
                document.getElementById("spinbtn1").disabled = false;
            }
            document.getElementById("spinbtn2").disabled = false;
        }

        window.addEventListener("pageshow", function (event) {
            var historyTraversal = event.persisted ||
                (typeof window.performance != "undefined" &&
                    window.performance.navigation.type === 2);
            if (historyTraversal) {
                // Handle page restore.
                window.location.reload();
            }
        });
        forecastform.addEventListener("input", function () {
            if (inputtext.value != "" && reg_select.value != "default" && city_select.value != "default") {
                document.getElementById("spinbtn1").disabled = false;
            }
            else {
                document.getElementById("spinbtn1").disabled = true;
            }
        });
    </script>
    <script>
        var config = { responsive: true }
        var graph1 = {{ graph1JSON | safe}};
        Plotly.newPlot("chart1", graph1, config, {})
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>