<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Data Visualization & Forecasting</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/homepage.css') }}">

  <title> Data Visualization & Forecasting</title>
</head>

<body>

  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->


  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    -->

  <div class="p-3 mb-2 text-white">
    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
      <div class="container-fluid">

        <a class="navbar-brand " href="index.html"> <img
            src="{{ url_for('static', filename='/images/aninaw-tech-logo-white.png') }}" class="rounded"
            alt="about width=40" height="40" style="float:left">
          <h6 style="float:right">Using K-Nearest Neighbor Regression <br>Machine Learning Algorithm</h6>
        </a>
        <div class="mr-auto">
          <a href="/test" type="button" class="btn btn-outline-light" style="margin:5px;">
            DATA VISUALIZATION</a>
          <a href="/forecast" type="button" class="btn btn-outline-light" style="margin:5px;">
            FORECASTING</a>
          <a href="about.html" type="button" class="btn btn-outline-light" style="margin:5px;">
            ABOUT</a>
        </div>

      </div>
    </nav>

    <figure class="text-center">
      <br><br><br><br><br><br><br><br>
      <h6 style="letter-spacing:10px;">DATA VISUALIZATION AND FORECASTING</h1>
        <h1 style="font-size:120px;">GOVERNMENT<br>TRANSPARENCY</h1>
    </figure>

  </div>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>
</body>


</html>