<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Data Visualization & Forecasting</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/homepage.css') }}">



</head>

<body>

  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->


  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    -->

  <div class="p-3 mb-2 text-white">


    <div class="row align-items-start">
      <div class="col">
        <h6>Using K-Nearest Neighbor Regression <br>Machine Learning Algorithm</h6>
      </div>


      <div class="col-4">

        <!-- REGION MENU-->
        <div class="btn-group">
          <button class="btn btn-transparent dropdown-toggle text-white" type="button" id="dropdownMenuButton"
            data-bs-toggle="dropdown" aria-expanded="false">
            REGION
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">NCR</a></li>
            <li><a class="dropdown-item" href="#">Region I</a></li>
            <li><a class="dropdown-item" href="#">Region II</a></li>
            <li><a class="dropdown-item" href="#">Region III</a></li>
            <li><a class="dropdown-item" href="#">Region IV-A</a></li>
            <li><a class="dropdown-item" href="#">Region IV-B</a></li>
            <li><a class="dropdown-item" href="#">Region V</a></li>
            <li><a class="dropdown-item" href="#">Region VI</a></li>
            <li><a class="dropdown-item" href="#">Region VII</a></li>
            <li><a class="dropdown-item" href="#">Region VIII</a></li>
            <li><a class="dropdown-item" href="#">Region IX</a></li>
            <li><a class="dropdown-item" href="#">Region X</a></li>
            <li><a class="dropdown-item" href="#">Region XI</a></li>
            <li><a class="dropdown-item" href="#">Region XII</a></li>
            <li><a class="dropdown-item" href="#">Region XIII</a></li>
            <li><a class="dropdown-item" href="#">CAR</a></li>
            <li><a class="dropdown-item" href="#">BARMM</a></li>
          </ul>
        </div>


        <!-- CITY MENU-->
        <div class="btn-group">
          <button type="button" class="btn btn-transparent dropdown-toggle text-white" data-bs-toggle="dropdown"
            aria-expanded="false">
            CITY
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="#">item1</a></li>
            <li><a class="dropdown-item" href="#">item2</a></li>
            <li><a class="dropdown-item" href="#">item3</a></li>
          </ul>
        </div>

        <!-- DATA TYPE MENU-->
        <div class="btn-group">
          <button type="button" class="btn btn-transparent dropdown-toggle text-white" data-bs-toggle="dropdown"
            aria-expanded="false">
            SELECT DATA
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="#">Revenue</a></li>
            <li><a class="dropdown-item" href="#">Expenditure</a></li>
          </ul>
        </div>
        <!-- YEAR MENU-->
        <div class="btn-group">
          <button type="button" class="btn btn-transparent dropdown-toggle text-white" data-bs-toggle="dropdown"
            data-bs-display="static" aria-expanded="false">
            YEAR
          </button>
          <ul class="dropdown-menu dropdown-menu-lg-end">
            <li><a class="dropdown-item" href="#">2015</a></li>
            <li><a class="dropdown-item" href="#">2016</a></li>
            <li><a class="dropdown-item" href="#">2017</a></li>
            <li><a class="dropdown-item" href="#">2018</a></li>
            <li><a class="dropdown-item" href="#">2019</a></li>
            <li><a class="dropdown-item" href="#">2020</a></li>
          </ul>
        </div>
      </div>
    </div>
    <figure class="text-center">
      <h6>DATA VISUALIZATION AND FORECASTING</h1>
        <h1>GOVERNMENT<br>TRANSPARENCY</h1>
    </figure>


  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>
</body>


</html>