<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="wnameth=device-wnameth, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/datavis.css') }}">
    {% if title %}
    <title>Thesis1-{{title}}</title>
    {% else %}
    <title>DefaultElse</title>
    {% endif %}
</head>

<body>
    <div class="p-3 mb-2 text-white">
        <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
            <div class="container-fluid">

                <a class="navbar-brand " href="index.html"> <img
                        src="{{ url_for('static', filename='/images/aninaw-tech-logo-white.png') }}" class="rounded"
                        alt="about width=40" height="40" style="float:left">
                    <h6 style="float:right">Using K-Nearest Neighbor Regression <br>Machine Learning Algorithm</h6>
                </a>
                <div class="mr-auto">
                    <a href="/test" type="button" class="btn btn-outline-light" style="margin:5px;">
                        DATA VISUALIZATION</a>
                    <a href="/forecast" type="button" class="btn btn-outline-light" style="margin:5px;">
                        FORECASTING</a>
                    <a href="about.html" type="button" class="btn btn-outline-light" style="margin:5px;">
                        ABOUT</a>
                </div>

            </div>
        </nav>
        <br><br><br>
        <div class="row align-items-end">
            <div class="col-8"></div>
            <div class="col-4">
                <form action="#" method="POST">
                    <!-- DATA MENU -->
                    <select class="form-select mb-3" name="data_select" id='iddt' required>
                        <option selected disabled>DATA</option>
                        <option value="Revenue">Revenue</option>
                        <option value="Appropriations">Appropriations</option>
                    </select>
                    <select class="form-select mb-3" name="yr_select" id='idyr' required>
                        <option value="default" selected disabled>YEAR</option>
                        {%for x in year%}
                        <option value={{x}}>{{x}}</option>
                        {%endfor%}
                    </select>
                    <select class="form-select mb-3" name="reg_select" id='idReg' required>
                        <option value="default" selected disabled>REGION</option>
                        {%for i in range(region['value']|length)%}
                        <option value="{{region['value'][i]}}">{{region['label'][i]}}</option>
                        {%endfor%}
                    </select>
                    <select class="form-select mb-3" name="cit_select" id="city">
                        <option value="default" selected disabled>CITIES</option>
                    </select>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>

        </div>
        <br><br>
    </div>
    <main class="container">
        <div class="row-4 p-4">
            <div class="col-8">
                <div class="card mx-10">
                    <div class="card-body">
                        <div id="chart1">
                        </div>
                        <h2> {% autoescape false %} {{chart1insight}} {% endautoescape %}</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-4 p-4">
            <div class="col-10">
                <div class="card mx-10">
                    <div class="card-body">
                        <div id="chart2">
                        </div>
                        <h2> {% autoescape false %} {{chart2insight}} {% endautoescape %}</h2>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        reg_select = document.getElementById('idReg');
        year_select = document.getElementById('idyr');
        city_select = document.getElementById('city');
        data_select = document.getElementById('iddt');
        data_select.onchange = function () {
            get_city(reg_select, year_select, data_select, city_select)
        }
        year_select.onchange = function () {
            get_city(reg_select, year_select, data_select, city_select)
        }
        reg_select.onchange = function () {
            get_city(reg_select, year_select, data_select, city_select)
        }

        function get_city(region, year, data_s, city) {
            reg = region.value;
            yr = year.value;
            dt = data_s.value;
            fetch('city/' + reg + '/' + yr + '/' + dt).then(function (response) {
                response.json().then(function (data) {
                    optionHTML = '<option value="default" selected disabled>CITIES</option>';
                    data.city.forEach(function (item) {
                        optionHTML += '<option value="' + item + '">' + item + '</option>'
                    });
                    city.innerHTML = optionHTML;
                });
            });
        }

        window.addEventListener("pageshow", function (event) {
            var historyTraversal = event.persisted ||
                (typeof window.performance != "undefined" &&
                    window.performance.navigation.type === 2);
            if (historyTraversal) {
                // Handle page restore.
                window.location.reload();
            }
        });
    </script>
    <script>
        var graph1 = {{ graph1JSON | safe}};
        Plotly.plot("chart1", graph1, {})
        var graph2 = {{ graph2JSON | safe}};
        Plotly.plot("chart2", graph2, {})
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
</body>

</html>