<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="wnameth=device-wnameth, initial-scale=1.0">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/datavis.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='/images/aninaw-tech-logo-brown.png') }}" type="image/x-icon">
    <title> Data Visualization</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
        <div class="container-fluid stickynav">

            <a class="navbar-brand " href="/"> <img
                    src="{{ url_for('static', filename='/images/aninaw-tech-logo-black.png') }}" class="rounded"
                    alt="about width=40" height="40" style="float:left">
                <h6 style="float:right; color:black;">Using K-Nearest Neighbor Regression <br>Machine Learning Algorithm
                </h6>
            </a>
            <div class="mr-auto">
                <a href="/datavisdefault" type="button" class="btn btn-outline-dark" style="margin:5px;">
                    DATA VISUALIZATION</a>
                <a href="/forecast" type="button" class="btn btn-outline-dark" style="margin:5px;">
                    FORECASTING</a>
                <a href="/about" type="button" class="btn btn-outline-dark" style="margin:5px;">
                    ABOUT</a>
            </div>

        </div>
    </nav>
    <br>
    <!--<div class="p-3 mb text-black"></div>-->
    <div class="row align-items-center">
        <div class="col-4" data-aos="fade-up">
            <form action="#" method="POST" id="searchform">
                <!-- DATA MENU -->
                <h5 id="selectcat">VISUALIZATION</h5><br /><br />
                <h5 id="selectcat">SELECT CATEGORY TO VISUALIZE</h5><br />
                <select class="form-select mb-3" name="data_select" id='iddt' required>
                    <option selected disabled>DATA</option>
                    <option value="Revenue">Revenue</option>
                    <option value="Appropriations">Appropriations</option>
                </select>
                <select class="form-select mb-3" name="yr_select" id='idyr' required>
                    <option value="default" selected disabled>YEAR</option>
                    {%for x in year%}
                    <option value={{x}}>{{x}}</option>
                    {%endfor%}
                </select>
                <select class="form-select mb-3" name="reg_select" id='idReg' required>
                    <option value="default" selected disabled>REGION</option>
                    {%for i in range(region['value']|length)%}
                    <option value="{{region['value'][i]}}">{{region['label'][i]}}</option>
                    {%endfor%}
                </select>
                <select class="form-select mb-3" name="cit_select" id="city">
                    <option value="default" selected disabled>CITIES</option>
                </select>
                <button type="submit" id='btnsubmit' disabled='disabled'>SUBMIT</button>
                <p><br />Disclaimer: The data that is to be visualized is taken from the Commision on Audit's official
                    website: <a href="https://www.coa.gov.ph/"> Click here</a>.<br /></br> The developers created a
                    template for all regional data to conform to our requirements for the Data Visualization and
                    Forecasting.<br /><br />All legal content is in the public domain of Commission of Audit of the
                    Replublic of the Philippines unless otherwise
                    stated.<br /><br /><br /><br /><br /><br /><br /><br /></p>
            </form>
        </div>
        <div class="col" id="barchart" data-aos="fade-left">
            <br><br><br><br><br>
            <div class="col-12">
                <div class="card mx-10">
                    <div class="card-body">
                        <div id="chart2">
                        </div>
                        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                            {%for i in range(year|length)%}
                            <input type="radio" class="btn-check" name="btnradio" id="btnradio{{i+1}}"
                                autocomplete="off" {% if i==0 %} checked{% else %}{% endif %}>
                            <label class="btn btn-outline-dark btndes" for="btnradio{{i+1}}">{{year[i]}}</label>
                            {%endfor%}
                        </div>
                        <p class='c1insight'><strong>{% autoescape false %} {{chart2insight}} {% endautoescape
                                %}</strong></p>
                        <button type="button" class="mb-3 insightbtn" data-bs-toggle="modal"
                            data-bs-target="#insightanim">
                            ADVANCED DETAILS
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <main class="row align-items-center" id="btmcharts" data-aos="fade-left">
        <div class="col cardmaxheight2">
            <div class="col">
                <div class="card mx-10">
                    <div class="card-body">
                        <div id="chart1">
                        </div>
                        <p class='c1insight'><strong>{% autoescape false %} {{chart1insight}} {% endautoescape
                                %}</strong> </p>
                        <button type="button" class="mb-3 insightbtn" data-bs-toggle="modal"
                            data-bs-target="#insightsurplus">
                            ADVANCED DETAILS
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col cb">
            <div class="col">
                <div class="card mx-10">
                    <div class="card-body">
                        <div id="chart3">
                        </div>
                        <button type="button" class="mb-3 insightbtn" data-bs-toggle="modal"
                            data-bs-target="#linerevapp">
                            ADVANCED DETAILS
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col cb">
            <div class="col">
                <div class="card mx-10">
                    <div class="card-body">
                        <div id="chart4">
                        </div>
                        <button type="button" class="mb-3 insightbtn" data-bs-toggle="modal"
                            data-bs-target="#insightgauge">
                            ADVANCED DETAILS
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {% autoescape false %} {{chart3insight}} {{chart4insight}} {{chart5insight}}{{chart6insight}}{% endautoescape %}
    <!-- Footer -->
    <footer class="page-footer font-small mdb-color lighten-3 pt-4" data-aos="fade-right">
        <div class="container text-center text-md-left">
            <div class="row">
                <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
                    <h5 class="font-weight-bold text-uppercase mb-4"></h5>
                    <p><img src="{{ url_for('static', filename='/images/aninaw-tech-logo-brown.png') }}"
                            class="tribimg"></p>
                </div>
                <hr class="clearfix w-100 d-md-none">
                <div class=" about col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">
                    <h5 class="font-weight-bold text-uppercase mb-4">About</h5>
                    <p>Aninaw-tech is a web application developed by the students of Far Eastern University - Alabang
                        for their
                        Thesis project.</p>
                </div>
                <hr class="clearfix w-100 d-md-none">
                <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
                    <h5 class="font-weight-bold text-uppercase mb-4">CONTACT US:</h5>
                    <ul class="list-unstyled">
                        <li>
                            <i class="fas fa-home mr-3">jensjovellano@gmail.com</i>
                        </li>
                        <li>
                            <i class="fas fa-envelope mr-3">lararon2428@gmail.com</i>
                        </li>
                        <li>
                            <i class="fas fa-phone mr-3">joanerepol1@gmail.com</i>
                        </li>
                        <li>
                            <i class="fas fa-print mr-3">kelseyrlantano@gmail.com</i>
                        </li>
                    </ul>
                </div>
                <hr class="clearfix w-100 d-md-none">
                <div class="col-md-2 col-lg-2 text-center mx-auto my-4">
                    <h5 class="font-weight-bold text-uppercase mb-4"></h5>
                    <img src="{{ url_for('static', filename='/images/tribunal2.png') }}" class="tribimg2">
                </div>
            </div>
        </div>
        <div class="footer-copyright text-center py-3" style="background-color: rgba(246, 240, 233, 1);">© 2021 Copyright:
            <a href="https://aninaw-tech.herokuapp.com/"> Aninaw-tech - Tribunal</a>
        </div>
    </footer>
    <!-- Footer -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
        </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        var graph1 = {{ graph1JSON | safe}};
        Plotly.plot("chart1", graph1, {})
        var graph2 = {{ graph2JSON | safe}};
        Plotly.plot("chart2", graph2, {})
        var graph3 = {{ graph3JSON | safe}};
        Plotly.plot("chart3", graph3, {})
        var graph4 = {{ graph4JSON | safe}};
        Plotly.plot("chart4", graph4, {})
        reg_select = document.getElementById('idReg');
        year_select = document.getElementById('idyr');
        city_select = document.getElementById('city');
        data_select = document.getElementById('iddt');
    </script>

    <script>
        data_select.onchange = function () {
            get_city()
        }
        year_select.onchange = function () {
            get_city()
        }
        reg_select.onchange = function () {
            get_city()
        }

        function get_city() {
            reg = reg_select.value;
            yr = year_select.value;
            dt = data_select.value;
            pg = "datavis"
            fetch('city/' + reg + '/' + yr + '/' + dt + '/' + pg).then(function (response) {
                response.json().then(function (data) {
                    optionHTML = '<option value="default" selected disabled>CITIES</option>';
                    data.city.forEach(function (item) {
                        optionHTML += '<option value="' + item + '">' + item + '</option>'
                    });
                    city_select.innerHTML = optionHTML;
                });
            });
        }
    </script>
    <script>
        searchform.addEventListener("change", function () {
            if (reg_select.value != "default" && year_select.value != "default" && city_select.value != "default" && data_select.value != "default") {
                btnsubmit.removeAttribute('disabled');
            }
            else {
                btnsubmit.setAttribute('disabled', 'disabled');
            }
        });
        window.addEventListener("pageshow", function (event) {
            var historyTraversal = event.persisted ||
                (typeof window.performance != "undefined" &&
                    window.performance.navigation.type === 2);
            if (historyTraversal) {
                // Handle page restore.
                window.location.reload();
            }
        });
        {%for x in range(year | length) %}
        $("#btnradio" + {{ x+ 1 }}).click(function () {
            {%for y in range(year | length) %}
            {% if x == y %}
            $(".year" + {{ y+ 1 }}).slideDown();
        {% else %}
        $(".year" + {{ y+ 1 }}).slideUp();
        $(".year" + {{ y+ 1 }}).slideUp();
        $(".year" + {{ y+ 1 }}).slideUp();
        $(".year" + {{ y+ 1 }}).slideUp();
        {% endif %}
        {% endfor %}
        })

        {% endfor %}
    </script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>