<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    {% if title %}
    <title>Thesis1-{{title}}</title>
    {% else %}
    <title>DefaultElse</title>
    {% endif %}
</head>

<body>
    <main>
        <h3>dsfsfsfsdf</h3>
        <div class="container">
            <h3>HEllow World/ JENS WAS HERE KELSEY </h3>
            <div class="row p-4">
                <div class="card m-auto" style="width:90%;">
                    <div class="card-body">
                        <div id="chart1">
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse impedit accusamus atque
                                quidem
                                maiores? Temporibus, ipsam! Fuga tempora porro tenetur officiis qui consectetur! Harum
                                quia cumque
                                dolor dignissimos similique nostrum.
                                Sunt, eius, maxime voluptates non laborum veniam autem et iure, nesciunt voluptatem
                                nihil molestiae
                                animi dolor itaque eum repellat similique possimus ratione! Consectetur commodi
                                consequuntur est
                                iste architecto cumque sint.
                                Culpa eligendi repudiandae ad deleniti amet obcaecati saepe voluptatibus, qui in neque
                                quidem
                                suscipit nemo distinctio autem dolorum expedita laudantium impedit libero aperiam
                                deserunt quisquam?
                                Nisi expedita tempora at debitis.
                                Explicabo aspernatur unde, nesciunt corporis tempore laudantium hic porro sapiente quo
                                commodi
                                natus? Aspernatur optio quod maxime corrupti pariatur, illo dignissimos, sed nemo harum
                                ea
                                accusantium minima ipsam velit obcaecati!
                                Minima, sapiente obcaecati. Natus quis, omnis ex reiciendis molestiae modi sequi
                                inventore! Eum
                                laborum exercitationem quae quisquam, maiores minus molestiae corporis voluptate
                                consectetur
                                corrupti optio non eaque error ut sunt.
                                Maiores voluptatem, doloremque voluptatum laboriosam excepturi placeat totam alias quos
                                aspernatur
                                id eum dolore ullam quia saepe! Officiis sunt laborum debitis velit ad sit iusto quam.
                                Voluptate
                                itaque architecto illo!
                                Blanditiis ad, numquam odio nulla sit deserunt exercitationem perspiciatis magnam,
                                mollitia tempora
                                cum natus consectetur voluptas eveniet corporis accusamus fuga cupiditate saepe? Debitis
                                unde
                                tempore libero consequuntur corrupti aspernatur assumenda!
                                Velit iusto porro dolores, nesciunt quisquam maiores a quaerat officia tenetur
                                dignissimos omnis
                                natus aut quibusdam, distinctio qui, cumque quo recusandae voluptates? Ipsum, sunt. Sed
                                harum
                                repudiandae nesciunt sequi recusandae!
                                Culpa, eveniet voluptatem? Sed nemo sequi tenetur maiores fuga nam consequuntur non unde
                                accusamus
                                at consectetur rem tempora molestiae quaerat, nihil itaque assumenda fugit voluptate
                                iste iure
                                deleniti, dolorem consequatur.
                                Illum voluptas maxime expedita totam at voluptates! Saepe reprehenderit cupiditate
                                dolore
                                accusantium nesciunt aliquid et iure ratione magni cumque. Iusto blanditiis tenetur quis
                                vitae
                                assumenda cupiditate ut molestias laboriosam totam?
                                Eos quia aperiam architecto molestias. Ipsam voluptatibus voluptatem placeat officia
                                voluptate, nisi
                                at. Dignissimos molestias magnam quo, accusamus voluptatibus voluptate autem! Molestiae
                                tenetur cum
                                earum fugiat, sit ducimus praesentium rem!
                                Debitis officiis, quo quod odio nobis consequuntur sapiente facilis dolores aspernatur
                                omnis sit
                                quia provident repellendus tempora, tempore quis cum temporibus doloribus maiores,
                                voluptatibus
                                excepturi unde beatae quisquam? Ex, maxime?
                                Iusto consectetur necessitatibus quo modi quisquam quis. Sapiente nesciunt ex itaque
                                consequuntur
                                nemo magnam et rerum laudantium! Voluptate iste ex dolores sit distinctio dolor tempore
                                maiores nemo
                                autem, eveniet blanditiis.
                                Itaque in explicabo officiis! Facilis consectetur suscipit asperiores esse corporis
                                voluptate
                                mollitia tempora est consequatur, repudiandae ipsum quaerat! At veritatis sit totam ea
                                commodi illo
                                facere dolorum nemo dicta et?
                                Necessitatibus vero perferendis perspiciatis ab sapiente natus asperiores, temporibus
                                maiores rerum
                                dolorem tempora, iusto repellendus, magni adipisci error. Unde sit nulla debitis labore
                                consectetur
                                quia quae magni earum! Exercitationem, alias.
                                Eum ab rem sapiente vitae quisquam deleniti maiores voluptatibus vel, dolorem ducimus
                                fugit, officia
                                voluptas molestiae officiis, dolor sit qui velit dolore architecto a corporis ipsa
                                nobis?
                                Consectetur, earum reprehenderit.
                                Aliquid neque, unde sapiente illum dolorem quidem ab laudantium voluptatum maxime
                                necessitatibus
                                repudiandae, veniam voluptatibus, id ratione aliquam excepturi reprehenderit quis fuga
                                voluptates
                                repellat! Quaerat reiciendis accusantium in maiores libero.
                                Magnam quidem similique libero aspernatur corrupti ad et eum rerum architecto,
                                consectetur
                                doloremque possimus incidunt praesentium veniam labore aliquam hic quibusdam nam soluta
                                sequi, ex
                                explicabo rem dolorem! Corporis, totam!
                                Fugit dolores, itaque amet esse corporis libero placeat vero tempora blanditiis beatae
                                fugiat cum
                                natus aperiam fuga nemo rerum expedita eum recusandae doloribus assumenda ex nostrum?
                                Quaerat saepe
                                deleniti dicta.
                                Similique, provident officiis. Dolorem aliquam quisquam consectetur saepe, quibusdam
                                iure, alias
                                quam error enim atque, neque quod dolorum vel? Inventore ipsa commodi dolor sint fuga
                                delectus
                                mollitia aspernatur nam modi.
                            </p>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="chart2">
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse impedit accusamus atque
                                quidem
                                maiores? Temporibus, ipsam! Fuga tempora porro tenetur officiis qui consectetur! Harum
                                quia cumque
                                dolor dignissimos similique nostrum.
                                Sunt, eius, maxime voluptates non laborum veniam autem et iure, nesciunt voluptatem
                                nihil molestiae
                                animi dolor itaque eum repellat similique possimus ratione! Consectetur commodi
                                consequuntur est
                                iste architecto cumque sint.
                                Culpa eligendi repudiandae ad deleniti amet obcaecati saepe voluptatibus, qui in neque
                                quidem
                                suscipit nemo distinctio autem dolorum expedita laudantium impedit libero aperiam
                                deserunt quisquam?
                                Nisi expedita tempora at debitis.
                                Explicabo aspernatur unde, nesciunt corporis tempore laudantium hic porro sapiente quo
                                commodi
                                natus? Aspernatur optio quod maxime corrupti pariatur, illo dignissimos, sed nemo harum
                                ea
                                accusantium minima ipsam velit obcaecati!
                                Minima, sapiente obcaecati. Natus quis, omnis ex reiciendis molestiae modi sequi
                                inventore! Eum
                                laborum exercitationem quae quisquam, maiores minus molestiae corporis voluptate
                                consectetur
                                corrupti optio non eaque error ut sunt.
                                Maiores voluptatem, doloremque voluptatum laboriosam excepturi placeat totam alias quos
                                aspernatur
                                id eum dolore ullam quia saepe! Officiis sunt laborum debitis velit ad sit iusto quam.
                                Voluptate
                                itaque architecto illo!
                                Blanditiis ad, numquam odio nulla sit deserunt exercitationem perspiciatis magnam,
                                mollitia tempora
                                cum natus consectetur voluptas eveniet corporis accusamus fuga cupiditate saepe? Debitis
                                unde
                                tempore libero consequuntur corrupti aspernatur assumenda!
                                Velit iusto porro dolores, nesciunt quisquam maiores a quaerat officia tenetur
                                dignissimos omnis
                                natus aut quibusdam, distinctio qui, cumque quo recusandae voluptates? Ipsum, sunt. Sed
                                harum
                                repudiandae nesciunt sequi recusandae!
                                Culpa, eveniet voluptatem? Sed nemo sequi tenetur maiores fuga nam consequuntur non unde
                                accusamus
                                at consectetur rem tempora molestiae quaerat, nihil itaque assumenda fugit voluptate
                                iste iure
                                deleniti, dolorem consequatur.
                                Illum voluptas maxime expedita totam at voluptates! Saepe reprehenderit cupiditate
                                dolore
                                accusantium nesciunt aliquid et iure ratione magni cumque. Iusto blanditiis tenetur quis
                                vitae
                                assumenda cupiditate ut molestias laboriosam totam?
                                Eos quia aperiam architecto molestias. Ipsam voluptatibus voluptatem placeat officia
                                voluptate, nisi
                                at. Dignissimos molestias magnam quo, accusamus voluptatibus voluptate autem! Molestiae
                                tenetur cum
                                earum fugiat, sit ducimus praesentium rem!
                                Debitis officiis, quo quod odio nobis consequuntur sapiente facilis dolores aspernatur
                                omnis sit
                                quia provident repellendus tempora, tempore quis cum temporibus doloribus maiores,
                                voluptatibus
                                excepturi unde beatae quisquam? Ex, maxime?
                                Iusto consectetur necessitatibus quo modi quisquam quis. Sapiente nesciunt ex itaque
                                consequuntur
                                nemo magnam et rerum laudantium! Voluptate iste ex dolores sit distinctio dolor tempore
                                maiores nemo
                                autem, eveniet blanditiis.
                                Itaque in explicabo officiis! Facilis consectetur suscipit asperiores esse corporis
                                voluptate
                                mollitia tempora est consequatur, repudiandae ipsum quaerat! At veritatis sit totam ea
                                commodi illo
                                facere dolorum nemo dicta et?
                                Necessitatibus vero perferendis perspiciatis ab sapiente natus asperiores, temporibus
                                maiores rerum
                                dolorem tempora, iusto repellendus, magni adipisci error. Unde sit nulla debitis labore
                                consectetur
                                quia quae magni earum! Exercitationem, alias.
                                Eum ab rem sapiente vitae quisquam deleniti maiores voluptatibus vel, dolorem ducimus
                                fugit, officia
                                voluptas molestiae officiis, dolor sit qui velit dolore architecto a corporis ipsa
                                nobis?
                                Consectetur, earum reprehenderit.
                                Aliquid neque, unde sapiente illum dolorem quidem ab laudantium voluptatum maxime
                                necessitatibus
                                repudiandae, veniam voluptatibus, id ratione aliquam excepturi reprehenderit quis fuga
                                voluptates
                                repellat! Quaerat reiciendis accusantium in maiores libero.
                                Magnam quidem similique libero aspernatur corrupti ad et eum rerum architecto,
                                consectetur
                                doloremque possimus incidunt praesentium veniam labore aliquam hic quibusdam nam soluta
                                sequi, ex
                                explicabo rem dolorem! Corporis, totam!
                                Fugit dolores, itaque amet esse corporis libero placeat vero tempora blanditiis beatae
                                fugiat cum
                                natus aperiam fuga nemo rerum expedita eum recusandae doloribus assumenda ex nostrum?
                                Quaerat saepe
                                deleniti dicta.
                                Similique, provident officiis. Dolorem aliquam quisquam consectetur saepe, quibusdam
                                iure, alias
                                quam error enim atque, neque quod dolorum vel? Inventore ipsa commodi dolor sint fuga
                                delectus
                                mollitia aspernatur nam modi.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        var graph1 = {{ graph1JSON | safe}};
        Plotly.plot("chart1", graph1, {})
        var graph2 = {{ graph2JSON | safe}};
        Plotly.plot("chart2", graph2, {})
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
</body>

</html>