<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
        <label class="btn btn-outline-primary" for="btnradio1">2016</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio2">2017</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio3">2018</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio4">2019</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio5">2020</label>
    </div>
    <h2>
        <ul class='year1'>Revenues
            <ul>
                <li>Highest Revenue:</li>
                <li>Lowest Revenue:</li>
            </ul>
            Appropriations
            <ul>
                <li>Highest Appropriation:</li>
                <li>Lowest Appropriation:</li>
            </ul>
        </ul>

        <ul class='year2' style="display: none;">Revenues
            <ul>
                <li>Highest Revenue:</li>
                <li>Lowest Revenue:</li>
            </ul>
            Appropriations
            <ul>
                <li>Highest Appropriation:</li>
                <li>Lowest Appropriation:</li>
            </ul>
        </ul>

        <ul class='year3' style="display: none;">Revenues
            <ul>
                <li>Highest Revenue:</li>
                <li>Lowest Revenue:</li>
            </ul>
            Appropriations
            <ul>
                <li>Highest Appropriation:</li>
                <li>Lowest Appropria</li>
            </ul>
        </ul>

        <ul class='year4' style="display: none;">Revenues
            <ul>
                <li>Highest Revenue:</li>
                <li>Lowest Revenue:</li>
            </ul>
            Appropriations
            <ul>
                <li>Highest Appropriation:</li>
                <li>Lowest Appropriation:</li>
            </ul>
        </ul>

        <ul class='year5' style="display: none;">Revenues
            <ul>
                <li>Highest Revenue:</li>
                <li>Lowest Revenue:</li>
            </ul>
            Appropriations
            <ul>
                <li>Highest Appropriation: </li>
                <li>Lowest Appropriation: </li>
            </ul>
        </ul>
    </h2>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
        </script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script>
        $("#btnradio1").click(function () {
            $(".year1").slideDown();
            $(".year2").slideUp();
            $(".year3").slideUp();
            $(".year4").slideUp();
            $(".year5").slideUp();
        })

        $("#btnradio2").click(function () {
            $(".year1").slideUp();
            $(".year2").slideDown();
            $(".year3").slideUp();
            $(".year4").slideUp();
            $(".year5").slideUp();
        })

        $("#btnradio3").click(function () {
            $(".year1").slideUp();
            $(".year2").slideUp();
            $(".year3").slideDown();
            $(".year4").slideUp();
            $(".year5").slideUp();
        })

        $("#btnradio4").click(function () {
            $(".year1").slideUp();
            $(".year2").slideUp();
            $(".year3").slideUp();
            $(".year4").slideDown();
            $(".year5").slideUp();
        })

        $("#btnradio5").click(function () {
            $(".year1").slideUp();
            $(".year2").slideUp();
            $(".year3").slideUp();
            $(".year4").slideUp();
            $(".year5").slideDown();
        })
    </script>
</body>

</html>